
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_6qbxgcr2amjz6w29.eot?t=1478010624518'); /* IE9*/
  src: url('//at.alicdn.com/t/font_6qbxgcr2amjz6w29.eot?t=1478010624518#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_6qbxgcr2amjz6w29.woff?t=1478010624518') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_6qbxgcr2amjz6w29.ttf?t=1478010624518') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_6qbxgcr2amjz6w29.svg?t=1478010624518#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianpu:before { content: "\e600"; }

.icon-huiyuan:before { content: "\e601"; }

.icon-yijianfankui:before { content: "\e60f"; }

.icon-jiaoyiguanli:before { content: "\e602"; }

.icon-mingxi:before { content: "\e610"; }

.icon-yingxiao:before { content: "\e633"; }

.icon-jiesuan:before { content: "\e614"; }

.icon-34:before { content: "\e603"; }

.icon-dianpu1:before { content: "\e604"; }

.icon-tianjiaxiaodian:before { content: "\e60d"; }

.icon-dianchang:before { content: "\e618"; }

.icon-jiaoyiguanli1:before { content: "\e60c"; }

.icon-cog:before { content: "\e615"; }

.icon-tixian:before { content: "\e605"; }

.icon-youhuiquanicon:before { content: "\e62c"; }

.icon-icon:before { content: "\e60e"; }

.icon-dianpu1:before { content: "\e606"; }

.icon-jiaoyi:before { content: "\e607"; }

.icon-shouyin:before { content: "\e619"; }

.icon-tubiaolunkuohua09:before { content: "\e611"; }

.icon-jiaoyi1:before { content: "\e608"; }

.icon-chuantupian:before { content: "\e616"; }

.icon-jiaoyimingxi:before { content: "\e609"; }

.icon-huiyuan1:before { content: "\e60a"; }

.icon-ziliao:before { content: "\e617"; }

.icon-dianyuanguanli:before { content: "\e60b"; }

.icon-yinxingqia1:before { content: "\e612"; }

.icon-yinxingqia:before { content: "\e613"; }

.icon-yingxiaoliebian:before { content: "\e628"; }

